# Игнорировать директорию с ssh ключами
ssh-key/

# Игнорировать состояния файлов MacOS
.DS_Store

# Игнорировать файлы секретных ключей
key.json

# Игнорировать файлы состояния Terraform
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*

# Игнорировать файлы резервного копирования состояния Terraform
*.backup

# Игнорировать файлы конфигурации CLI
.terraform
.terraform/*

# Игнорировать любые .tfvars файлы, которые могут содержать чувствительные данные
*.tfvars

# Игнорировать файлы журнала ошибок
crash.log

# Игнорировать все файлы, которые могут быть автоматически сгенерированы
.terraform.lock.hcl

# Игнорировать директории, автоматически создаваемые IDE или редакторами
.idea/
*.swp
*.swo
.vscode/
